@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

/*font-family: 'Bungee Outline', cursive;*/

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    max-width: 100vw;
}

body {
    font-family: 'Truculenta', sans-serif;
    font-weight: 400;
    background-color: rgb(54, 54, 54);
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 0, 0) rgb(158, 158, 158);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(158, 158, 158);
    border-radius: 20px;
  }

nav {
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0%;
    z-index: 99;
    background: black;
}

nav label img.logo {
    width: 65px;
    line-height: 8vh;
    margin-top: 6px;
    margin-left: 1.6rem;
}

nav ul.opcoes_navegacao {
    float: right;
    margin-right: 2rem;
}

nav ul li {
    display: inline-block;
    line-height: 8vh;
    margin: 0 5px;
}

nav ul li a {
    color: #FFF;
    font-size: 2.2rem;
    font-weight: 700;
}

nav a {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

nav a:after {
    content: "";
    position: absolute;
    background-color: green;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -0.3rem;
    transition: 0.3s;
}

nav a:hover {
    color: rgb(189, 189, 189);
}

nav a:hover:after{
    width: 100%;
}

.checkbtn {
    font-size: 25px;
    color: #FFF;
    float: right;
    cursor: pointer;
    line-height: 8vh;
}

.alinhar-vertical {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.img-perfil {
    width: 32px;
    height: 32px;
    top: 4px;
    object-fit: cover;
    border: solid 2px;
    border-color: rgb(179, 179, 179);
    border-radius: 100%;
    margin-left: 0.6vw;
    margin-right: 16px;
}

#check {
    display: none;
}

.mais-opcoes {
    display: none;
}

div.funcao-sair li {
    display: block;
}

.menu ul {
    position: fixed;
    width: 30%;
    height: 100vh;
    background: rgb(82, 82, 82);
    top: 8vh;
    right: -100%;
    text-align: center;
    transition: all .5s;
}

nav .menu-opcoes ul li {
    display: block;
    margin: 50px 0;
    line-height: 10px;
}

#check:checked ~ ul {
    right: 0;
}

.menu-deslogado {
    display: none;
}

.checkbtn-deslogado {
    font-size: 25px;
    color: #FFF;
    float: right;
    margin-right: 2vw;
    cursor: pointer;
    line-height: 8vh;
    display: none;
}

/* Carrossel anúncios locais */
.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
}

.espaco_anuncios {
    margin-top: 60px;
    margin-bottom: 12px;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.carrossel-img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    width: 100%;
    height: 100%;    
}

/* Início Deslogado PC */
.checkbtnPC {
    font-size: 25px;
    color: #FFF;
    float: right;
    cursor: pointer;
    line-height: 8vh;
}

.alinhar-verticalPC {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-top: 12px;
}

#checkPC {
    display: none;
}

.mais-opcoesPC {
    display: block;
}

div.funcao-sairPC li {
    display: block;
}

.menuPC ul {
    position: fixed;
    width: 30%;
    height: 100vh;
    background: rgb(82, 82, 82);
    top: 8vh;
    right: -100%;
    text-align: center;
    transition: all .5s;
}

nav .menu-opcoesPC ul li {
    display: block;
    margin: 50px 0;
    line-height: 10px;
}

#checkPC:checked ~ ul {
    right: 0;
}

/* Fim Deslogado PC */
.botao-irCadastro {
    font-size: 2.0rem;
}

.botao-irCadastro a {
    color: #ffee00;
}

.botao-irCadastro a:hover {
    color: #00b309;
    text-shadow: black 0.1em 0.1em 0.2em;
}

hr {
    width: 100%;
    margin-bottom: 4px;
    height: 1vh;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, rgb(0, 121, 20), rgb(18, 158, 0), rgb(4, 133, 0), rgb(181, 184, 19), rgb(219, 223, 19), rgb(221, 217, 0), rgb(138, 0, 0), rgb(172, 0, 0), rgb(182, 0, 0));
}

/* Pesquisar/Cadastrar Atletas */
.div-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 2.4rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

  .button-cadastrar {
    border-color: #00ac33;
    color: #fff;
    box-shadow: 0 0 40px 40px #006b12 inset, 0 0 0 0 #005e00;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .button-cadastrar:hover {
    box-shadow: 0 0 10px 0 #eaf823 inset, 0 0 10px 4px #1ad853, 0 0 10px 8px #b10000;
  }

  .container-dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
  }

  .container-dados p {
    margin: 8px;
  }

  .btn-continuar {
    color: #eaf823;
  }

  .btn-continuar:hover {
    color: #008a00;
  }
/* Fim Pesquisar/Cadastrar Atletas */

.nroAtletas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    margin-top: 64px;
}

#nomeCategoria {
    margin: 4px 0 16px 0;
}

#nomeEquipe {
    margin: 4px 0 16px 0;
}

#nroAtletas {
    margin-top: 4px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6rem;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.jpcDev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
}

.prefaJag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 8rem;
}

.divisor {
    background: #ffffff;
    width: 3px;
    height: 80px;
    border-radius: 4px;
    margin: 8px;
}

.politicas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    margin-left: 4px;
}

.politica-cookies {
    color: #FFF;
}

.politica-cookies:hover {
    color: #ffee00;
}

.sobreRodape {
    cursor: pointer;
    margin-bottom: 4px;
}

.politicasRodape {
    cursor: pointer;
}

.direitos {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.modal-sobre {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
}

.modal-sobre.mostrar {
    display: flex;
}

.modalSobre {
    background: white;
    width: 60%;
    padding: 30px;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 4px;
    border-image-source: linear-gradient(to right, rgb(0, 121, 20), rgb(18, 158, 0), rgb(4, 133, 0), rgb(181, 184, 19), rgb(219, 223, 19), rgb(221, 217, 0), rgb(138, 0, 0), rgb(172, 0, 0), rgb(182, 0, 0));
    border-radius: 8px;
    box-shadow: 0 0 0 8px white;
    position: relative;
}

@keyframes modalSobre {
    from{
     opacity: 0;
     transform: translate3d(0, -60px, 0);
    }
    to {
     opacity: 1;
     transform: translate3d(0, 0, 0);
    }
}

.mostrar .modalSobre {
    animation: modalSobre .3s;
}

.fecharSobre {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 4px solid rgb(172, 0, 0);
    background: white;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0,.3);
}

.fecharSobre:hover {
    background: rgb(179, 179, 179);
}

/*Modal Políticas*/
.modal-politicas {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
}

.modal-politicas.mostrar {
    display: flex;
}

.modalPoliticas {
    background: white;
    width: 60vw;
    padding: 30px;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 4px;
    border-image-source: linear-gradient(to right, rgb(0, 121, 20), rgb(18, 158, 0), rgb(4, 133, 0), rgb(181, 184, 19), rgb(219, 223, 19), rgb(221, 217, 0), rgb(138, 0, 0), rgb(172, 0, 0), rgb(182, 0, 0));
    border-radius: 8px;
    box-shadow: 0 0 0 8px white;
    position: relative;
    margin-top: 40vh;
}

@keyframes modalPoliticas {
    from{
     opacity: 0;
     transform: translate3d(0, -60px, 0);
    }
    to {
     opacity: 1;
     transform: translate3d(0, 0, 0);
    }
}

.mostrar .modalPoliticas {
    animation: modalPoliticas .3s;
}

.fecharPoliticas {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 4px solid rgb(172, 0, 0);
    background: white;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0,.3);
}

.fecharPoliticas:hover {
    background: rgb(179, 179, 179);
}

@media (max-width: 858px) {
    html {
        font-size: 52%;
    }

    .opcoes_navegacao {
        display: none;
    }

    .menu-deslogado ul {
        display: block;
        position: fixed;
        width: 30%;
        height: 100vh;
        background: rgb(82, 82, 82);
        top: 8vh;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    .checkbtn-deslogado {
        display: block;
        margin-right: 32px;
    }
    
    .menu ul {
        position: fixed;
        width: 30%;
        height: 100vh;
        background: rgb(82, 82, 82);
        top: 8vh;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    .menuPC {
        display: none;
    }
    
    .mais-opcoes {
        display: block;
    }

    nav ul li {
        display: block;
        margin: 3.5rem 0;
        line-height: 1rem;
    }

    #check:checked ~ ul {
        right: 0;
    }
}

@media (max-width: 710px) {
    html {
        font-size: 45%;
    }
}

@media (max-width: 575px) {
    html {
        font-size: 40%;
    }
}

@media (max-width: 470px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 42%;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 41%;
    }
}

@media (max-width: 280px) {
    html {
        font-size: 40%;
    }
}